.home {
  display: flex;
}
.body {
  margin-left: 200px;
  background-color: #fff;
  padding-left:30px ;
  width: 80%;
}

.cards {
  display: flex;
  gap: 30px;
}

.busca {
  display: flex;
  background-color: #fff;
  width: max-content;
  border: 1px #000 solid;
  border-radius: 5px;
}
.busca input {
  background: none;
  border: none;
  outline: none;
  width: 400px;
}
.busca .buttonBusca{
  background-color: #000;
  padding: 0 5px;
}
